.form {
  max-width: 400px;
  min-height: 300px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  justify-content: center;
  margin-bottom: 10px;
  border-radius: 10px;
  background-color: #f8f8f8;
  color: #121212;
  margin: 0 auto;
  margin-bottom: 10px;
  box-shadow: 0 4px 6px rgba(0, 128, 0, 0.2), 0 1px 3px rgba(0, 0, 0, 0.1);
}

.title {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  color: #121212;
  font-weight: 500;
  font-size: 28px;
  text-align: center;
  margin-bottom: 15px;
}

.box {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.label {
  font-family: "Courier New", Courier, monospace;
  margin-bottom: 5px;
  font-size: 18px;
  color: #2ecc71;
}

.input {
  border: 1px solid #2ecc71;
  border-radius: 10px;
  padding: 5px 10px;
  margin-bottom: 15px;
  max-width: 100%;
  transition: scale 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  &:hover {
    scale: 103%;
  }
}

.wrapper_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.btn_green {
  font-family: "Courier New", Courier, monospace;
  padding: 8px 12px;
  border-radius: 10px;
  border: 1px solid #2ecc71;
  display: flex;
  gap: 5px;
  justify-content: center;
  align-items: center;
  color: #2ecc71;
  transition: transform 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  &:hover,
  &:focus {
    transform: scale(110%);
  }
}
.btn_red {
  font-family: "Courier New", Courier, monospace;
  padding: 6px 10px;
  border-radius: 10px;
  border: 1px solid red;
  display: flex;
  gap: 5px;
  justify-content: center;
  align-items: center;
  color: red;
  transition: transform 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  &:hover,
  &:focus {
    transform: scale(110%);
  }
}
